@charset "UTF-8";
/* 중국어 사전 */
.example .btn_expand {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
}

.component_mean .notice:before {
	background-image: url(../img/sp_line_png_v2.png);
	background-size: 273px 259px;
}

.example .btn_expand, .example.is-expanded .btn_expand, .component_mean .btn_grade:after, .section .component_information .hanja_desc .info:before {
	background-image: url(../img/sp_pc.png);
	background-size: 488px 470px;
}

.component_food {
	margin: 12px 0 28px 15px;
}

.component_food .origin {
	color: #000;
	font-size: 14px;
	line-height: 28px;
}

.fs2 .component_food .origin {
	font-size: 15px;
}

.fs3 .component_food .origin {
	font-size: 16px;
}

.fs4 .component_food .origin {
	font-size: 17px;
}

.component_food .origin[lang='ko'] {
	font-size: 14px;
}

.fs2 .component_food .origin[lang='ko'] {
	font-size: 15px;
}

.fs3 .component_food .origin[lang='ko'] {
	font-size: 16px;
}

.fs4 .component_food .origin[lang='ko'] {
	font-size: 17px;
}

.component_food .origin[lang^='ja'], .component_food .origin[lang^='zh'] {
	font-size: 15px;
}

.fs2 .component_food .origin[lang^='ja'], .fs2 .component_food .origin[lang^='zh'] {
	font-size: 16px;
}

.fs3 .component_food .origin[lang^='ja'], .fs3 .component_food .origin[lang^='zh'] {
	font-size: 17px;
}

.fs4 .component_food .origin[lang^='ja'], .fs4 .component_food .origin[lang^='zh'] {
	font-size: 18px;
}

.component_food .origin[lang='ar'], .component_food .origin[lang='fa'] {
	font-size: 16px;
}

.fs2 .component_food .origin[lang='ar'], .fs2 .component_food .origin[lang='fa'] {
	font-size: 17px;
}

.fs3 .component_food .origin[lang='ar'], .fs3 .component_food .origin[lang='fa'] {
	font-size: 18px;
}

.fs4 .component_food .origin[lang='ar'], .fs4 .component_food .origin[lang='fa'] {
	font-size: 19px;
}

.component_food .origin[lang='my'], .component_food .origin[lang='km'] {
	font-size: 14px;
}

.fs2 .component_food .origin[lang='my'], .fs2 .component_food .origin[lang='km'] {
	font-size: 15px;
}

.fs3 .component_food .origin[lang='my'], .fs3 .component_food .origin[lang='km'] {
	font-size: 16px;
}

.fs4 .component_food .origin[lang='my'], .fs4 .component_food .origin[lang='km'] {
	font-size: 17px;
}

.fs2 .component_food .origin {
	line-height: 29px;
}

.fs3 .component_food .origin {
	line-height: 30px;
}

.component_food .origin[lang='ko'] {
	line-height: 24px;
}

.fs2 .component_food .origin[lang='ko'] {
	line-height: 25px;
}

.fs3 .component_food .origin[lang='ko'] {
	line-height: 26px;
}

.component_food .origin[lang^='ja'], .component_food .origin[lang^='zh'] {
	line-height: 28px;
}

.fs2 .component_food .origin[lang^='ja'], .fs2 .component_food .origin[lang^='zh'] {
	line-height: 29px;
}

.fs3 .component_food .origin[lang^='ja'], .fs3 .component_food .origin[lang^='zh'] {
	line-height: 30px;
}

.component_food .origin[lang='ar'], .component_food .origin[lang='fa'] {
	line-height: 30px;
}

.fs2 .component_food .origin[lang='ar'], .fs2 .component_food .origin[lang='fa'] {
	line-height: 31px;
}

.fs3 .component_food .origin[lang='ar'], .fs3 .component_food .origin[lang='fa'] {
	line-height: 32px;
}

.component_food .origin[lang='my'], .component_food .origin[lang='km'] {
	line-height: 35px;
}

.fs2 .component_food .origin[lang='my'], .fs2 .component_food .origin[lang='km'] {
	line-height: 36px;
}

.fs3 .component_food .origin[lang='my'], .fs3 .component_food .origin[lang='km'] {
	line-height: 37px;
}

.component_food .translate {
	margin-top: 12px;
	font-size: 14px;
	line-height: 28px;
	color: #000;
}

.fs2 .component_food .translate {
	font-size: 15px;
}

.fs3 .component_food .translate {
	font-size: 16px;
}

.fs4 .component_food .translate {
	font-size: 17px;
}

.component_food .translate[lang='ko'] {
	font-size: 14px;
}

.fs2 .component_food .translate[lang='ko'] {
	font-size: 15px;
}

.fs3 .component_food .translate[lang='ko'] {
	font-size: 16px;
}

.fs4 .component_food .translate[lang='ko'] {
	font-size: 17px;
}

.component_food .translate[lang^='ja'], .component_food .translate[lang^='zh'] {
	font-size: 15px;
}

.fs2 .component_food .translate[lang^='ja'], .fs2 .component_food .translate[lang^='zh'] {
	font-size: 16px;
}

.fs3 .component_food .translate[lang^='ja'], .fs3 .component_food .translate[lang^='zh'] {
	font-size: 17px;
}

.fs4 .component_food .translate[lang^='ja'], .fs4 .component_food .translate[lang^='zh'] {
	font-size: 18px;
}

.component_food .translate[lang='ar'], .component_food .translate[lang='fa'] {
	font-size: 16px;
}

.fs2 .component_food .translate[lang='ar'], .fs2 .component_food .translate[lang='fa'] {
	font-size: 17px;
}

.fs3 .component_food .translate[lang='ar'], .fs3 .component_food .translate[lang='fa'] {
	font-size: 18px;
}

.fs4 .component_food .translate[lang='ar'], .fs4 .component_food .translate[lang='fa'] {
	font-size: 19px;
}

.component_food .translate[lang='my'], .component_food .translate[lang='km'] {
	font-size: 14px;
}

.fs2 .component_food .translate[lang='my'], .fs2 .component_food .translate[lang='km'] {
	font-size: 15px;
}

.fs3 .component_food .translate[lang='my'], .fs3 .component_food .translate[lang='km'] {
	font-size: 16px;
}

.fs4 .component_food .translate[lang='my'], .fs4 .component_food .translate[lang='km'] {
	font-size: 17px;
}

.fs2 .component_food .translate {
	line-height: 29px;
}

.fs3 .component_food .translate {
	line-height: 30px;
}

.component_food .translate[lang='ko'] {
	line-height: 24px;
}

.fs2 .component_food .translate[lang='ko'] {
	line-height: 25px;
}

.fs3 .component_food .translate[lang='ko'] {
	line-height: 26px;
}

.component_food .translate[lang^='ja'], .component_food .translate[lang^='zh'] {
	line-height: 28px;
}

.fs2 .component_food .translate[lang^='ja'], .fs2 .component_food .translate[lang^='zh'] {
	line-height: 29px;
}

.fs3 .component_food .translate[lang^='ja'], .fs3 .component_food .translate[lang^='zh'] {
	line-height: 30px;
}

.component_food .translate[lang='ar'], .component_food .translate[lang='fa'] {
	line-height: 30px;
}

.fs2 .component_food .translate[lang='ar'], .fs2 .component_food .translate[lang='fa'] {
	line-height: 31px;
}

.fs3 .component_food .translate[lang='ar'], .fs3 .component_food .translate[lang='fa'] {
	line-height: 32px;
}

.component_food .translate[lang='my'], .component_food .translate[lang='km'] {
	line-height: 35px;
}

.fs2 .component_food .translate[lang='my'], .fs2 .component_food .translate[lang='km'] {
	line-height: 36px;
}

.fs3 .component_food .translate[lang='my'], .fs3 .component_food .translate[lang='km'] {
	line-height: 37px;
}

.component_food .view {
	margin-top: 17px;
	text-align: center;
}

.component_food .view img {
	max-height: 300px;
	width: auto;
	vertical-align: top;
}

.component_food .source {
	margin-top: 10px;
	font-size: 12px;
	line-height: 15px;
	color: #999;
	text-align: center;
}

.fs2 .component_food .source {
	font-size: 13px;
}

.fs3 .component_food .source {
	font-size: 14px;
}

.fs4 .component_food .source {
	font-size: 15px;
}

.fs2 .component_food .source {
	line-height: 16px;
}

.fs3 .component_food .source {
	line-height: 17px;
}

.example {
	position: relative;
	margin: 5px 0 0 0;
	color: #666;
}

.example .tit {
	color: #999;
}

.example + .example {
	margin-top: 16px;
}

.example:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	bottom: 2px;
	border-left: 3px solid #eee;
}

.example .example_item {
	padding-left: 16px;
}

.component_mean .example .example_item {
	display: none;
}

.component_mean .example .example_item:first-child {
	display: block;
}

.example .example_item .direct {
	display: inline-block;
	font-weight: bold;
	color: inherit;
}

.example .example_item .sentence_structure {
	font-size: 12px;
	color: #888;
	letter-spacing: 0.75px;
}

.fs2 .example .example_item .sentence_structure {
	font-size: 13px;
}

.fs3 .example .example_item .sentence_structure {
	font-size: 14px;
}

.fs4 .example .example_item .sentence_structure {
	font-size: 15px;
}

.example .example_item + .example_item {
	margin-top: 8px;
}

.example .example_item .text {
	word-break: break-word;
}

.example [lang^='zh'] + .unit_listen {
	margin-top: 0;
}

.example_origin .origin {
	margin-top: 12px;
}

.example_origin .origin[lang='ko'] {
	margin-top: 5px;
}

.example_origin .source {
	margin-top: 3px;
}

.example_translate .origin {
	margin-top: 13px;
}

.example_translate .origin[lang='ko'] {
	margin-top: 6px;
}

.example_translate .pinyin {
	margin-top: 2px;
}

.example_translate .translate {
	display: inline-block;
}

.example_translate .translate[lang='ko'] {
	margin-top: 2px;
}

.example_translate .pinyin + .translate {
	margin-top: 0;
}

.example_translate .source {
	margin-top: 4px;
}

.example_translate .unit_listen {
	margin: 2px 0;
}

.example .btn_expand {
	position: absolute;
	left: -20px;
	bottom: 2px;
	background-position: -447px -245px;
	width: 16px;
	height: 16px;
}

.example.is-expanded .example_item {
	display: block;
}

.example.is-expanded .btn_expand {
	background-position: -447px -265px;
	width: 16px;
	height: 16px;
}

.example.is-closed .example_item {
	display: none;
}

.example.is-closed .example_item:first-child {
	display: block;
}

.example_dialogue {
	margin-top: 9px;
}

.example_dialogue:before {
	border-color: #cecece;
}

.example_saying {
	margin-top: 15px;
}

.example_saying .origin {
	margin-top: 10px;
}

.example_saying .title_saying {
	margin-bottom: 8px;
	padding: 0 15px;
	font-size: 13px;
	color: #000;
}

.fs2 .example_saying .title_saying {
	font-size: 14px;
}

.fs3 .example_saying .title_saying {
	font-size: 15px;
}

.fs4 .example_saying .title_saying {
	font-size: 16px;
}

.example_saying .origin .tit {
	font-size: 13px;
	color: #25407d;
}

.fs2 .example_saying .origin .tit {
	font-size: 14px;
}

.fs3 .example_saying .origin .tit {
	font-size: 15px;
}

.fs4 .example_saying .origin .tit {
	font-size: 16px;
}

.example_saying .count_number {
	font-size: 11px;
	color: #666;
}

.example_saying .origin_link {
	color: #25407d;
}

.example_saying .btn_section_fold {
	margin: -1px 0 -9px;
	padding: 8px 168px 0 0;
	font-size: 12px;
	border-left: 3px solid #eee;
}

.fs2 .example_saying .btn_section_fold {
	font-size: 13px;
}

.fs3 .example_saying .btn_section_fold {
	font-size: 14px;
}

.fs4 .example_saying .btn_section_fold {
	font-size: 15px;
}

.example_saying .related_voca {
	margin-top: 10px;
}

.has-example_dialogue .example_translate.is-expanded .btn_expand {
	display: none;
}

.has-example_dialogue .example + .example_dialogue {
	display: none;
}

.has-example_dialogue .example + .example_dialogue.is-expanded {
	display: block;
}

.example .example_item:first-child .origin,
.example .title_saying + .example_item .origin,
.ly_wordbook .mean_select .example_item:first-child .origin,
.ly_wordbook .mean_select .title_saying + .example_item .origin {
	margin-top: 0;
}

.example .origin,
.example .translate,
.example .sentence,
.ly_wordbook .mean_select .origin,
.ly_wordbook .mean_select .translate,
.ly_wordbook .mean_select .sentence {
	font-size: 14px;
	line-height: 20px;
}

.fs2 .example .origin, .fs2
.example .translate, .fs2
.example .sentence, .fs2
.ly_wordbook .mean_select .origin, .fs2
.ly_wordbook .mean_select .translate, .fs2
.ly_wordbook .mean_select .sentence {
	font-size: 15px;
}

.fs3 .example .origin, .fs3
.example .translate, .fs3
.example .sentence, .fs3
.ly_wordbook .mean_select .origin, .fs3
.ly_wordbook .mean_select .translate, .fs3
.ly_wordbook .mean_select .sentence {
	font-size: 16px;
}

.fs4 .example .origin, .fs4
.example .translate, .fs4
.example .sentence, .fs4
.ly_wordbook .mean_select .origin, .fs4
.ly_wordbook .mean_select .translate, .fs4
.ly_wordbook .mean_select .sentence {
	font-size: 17px;
}

.example .origin[lang='ko'],
.example .translate[lang='ko'],
.example .sentence[lang='ko'],
.ly_wordbook .mean_select .origin[lang='ko'],
.ly_wordbook .mean_select .translate[lang='ko'],
.ly_wordbook .mean_select .sentence[lang='ko'] {
	font-size: 13px;
}

.fs2 .example .origin[lang='ko'], .fs2
.example .translate[lang='ko'], .fs2
.example .sentence[lang='ko'], .fs2
.ly_wordbook .mean_select .origin[lang='ko'], .fs2
.ly_wordbook .mean_select .translate[lang='ko'], .fs2
.ly_wordbook .mean_select .sentence[lang='ko'] {
	font-size: 14px;
}

.fs3 .example .origin[lang='ko'], .fs3
.example .translate[lang='ko'], .fs3
.example .sentence[lang='ko'], .fs3
.ly_wordbook .mean_select .origin[lang='ko'], .fs3
.ly_wordbook .mean_select .translate[lang='ko'], .fs3
.ly_wordbook .mean_select .sentence[lang='ko'] {
	font-size: 15px;
}

.fs4 .example .origin[lang='ko'], .fs4
.example .translate[lang='ko'], .fs4
.example .sentence[lang='ko'], .fs4
.ly_wordbook .mean_select .origin[lang='ko'], .fs4
.ly_wordbook .mean_select .translate[lang='ko'], .fs4
.ly_wordbook .mean_select .sentence[lang='ko'] {
	font-size: 16px;
}

.example .origin[lang^='ja'], .example .origin[lang^='zh'],
.example .translate[lang^='ja'],
.example .translate[lang^='zh'],
.example .sentence[lang^='ja'],
.example .sentence[lang^='zh'],
.ly_wordbook .mean_select .origin[lang^='ja'],
.ly_wordbook .mean_select .origin[lang^='zh'],
.ly_wordbook .mean_select .translate[lang^='ja'],
.ly_wordbook .mean_select .translate[lang^='zh'],
.ly_wordbook .mean_select .sentence[lang^='ja'],
.ly_wordbook .mean_select .sentence[lang^='zh'] {
	font-size: 16px;
}

.fs2 .example .origin[lang^='ja'], .fs2 .example .origin[lang^='zh'], .fs2
.example .translate[lang^='ja'], .fs2
.example .translate[lang^='zh'], .fs2
.example .sentence[lang^='ja'], .fs2
.example .sentence[lang^='zh'], .fs2
.ly_wordbook .mean_select .origin[lang^='ja'], .fs2
.ly_wordbook .mean_select .origin[lang^='zh'], .fs2
.ly_wordbook .mean_select .translate[lang^='ja'], .fs2
.ly_wordbook .mean_select .translate[lang^='zh'], .fs2
.ly_wordbook .mean_select .sentence[lang^='ja'], .fs2
.ly_wordbook .mean_select .sentence[lang^='zh'] {
	font-size: 17px;
}

.fs3 .example .origin[lang^='ja'], .fs3 .example .origin[lang^='zh'], .fs3
.example .translate[lang^='ja'], .fs3
.example .translate[lang^='zh'], .fs3
.example .sentence[lang^='ja'], .fs3
.example .sentence[lang^='zh'], .fs3
.ly_wordbook .mean_select .origin[lang^='ja'], .fs3
.ly_wordbook .mean_select .origin[lang^='zh'], .fs3
.ly_wordbook .mean_select .translate[lang^='ja'], .fs3
.ly_wordbook .mean_select .translate[lang^='zh'], .fs3
.ly_wordbook .mean_select .sentence[lang^='ja'], .fs3
.ly_wordbook .mean_select .sentence[lang^='zh'] {
	font-size: 18px;
}

.fs4 .example .origin[lang^='ja'], .fs4 .example .origin[lang^='zh'], .fs4
.example .translate[lang^='ja'], .fs4
.example .translate[lang^='zh'], .fs4
.example .sentence[lang^='ja'], .fs4
.example .sentence[lang^='zh'], .fs4
.ly_wordbook .mean_select .origin[lang^='ja'], .fs4
.ly_wordbook .mean_select .origin[lang^='zh'], .fs4
.ly_wordbook .mean_select .translate[lang^='ja'], .fs4
.ly_wordbook .mean_select .translate[lang^='zh'], .fs4
.ly_wordbook .mean_select .sentence[lang^='ja'], .fs4
.ly_wordbook .mean_select .sentence[lang^='zh'] {
	font-size: 19px;
}

.example .origin[lang='ar'], .example .origin[lang='fa'],
.example .translate[lang='ar'],
.example .translate[lang='fa'],
.example .sentence[lang='ar'],
.example .sentence[lang='fa'],
.ly_wordbook .mean_select .origin[lang='ar'],
.ly_wordbook .mean_select .origin[lang='fa'],
.ly_wordbook .mean_select .translate[lang='ar'],
.ly_wordbook .mean_select .translate[lang='fa'],
.ly_wordbook .mean_select .sentence[lang='ar'],
.ly_wordbook .mean_select .sentence[lang='fa'] {
	font-size: 16px;
}

.fs2 .example .origin[lang='ar'], .fs2 .example .origin[lang='fa'], .fs2
.example .translate[lang='ar'], .fs2
.example .translate[lang='fa'], .fs2
.example .sentence[lang='ar'], .fs2
.example .sentence[lang='fa'], .fs2
.ly_wordbook .mean_select .origin[lang='ar'], .fs2
.ly_wordbook .mean_select .origin[lang='fa'], .fs2
.ly_wordbook .mean_select .translate[lang='ar'], .fs2
.ly_wordbook .mean_select .translate[lang='fa'], .fs2
.ly_wordbook .mean_select .sentence[lang='ar'], .fs2
.ly_wordbook .mean_select .sentence[lang='fa'] {
	font-size: 17px;
}

.fs3 .example .origin[lang='ar'], .fs3 .example .origin[lang='fa'], .fs3
.example .translate[lang='ar'], .fs3
.example .translate[lang='fa'], .fs3
.example .sentence[lang='ar'], .fs3
.example .sentence[lang='fa'], .fs3
.ly_wordbook .mean_select .origin[lang='ar'], .fs3
.ly_wordbook .mean_select .origin[lang='fa'], .fs3
.ly_wordbook .mean_select .translate[lang='ar'], .fs3
.ly_wordbook .mean_select .translate[lang='fa'], .fs3
.ly_wordbook .mean_select .sentence[lang='ar'], .fs3
.ly_wordbook .mean_select .sentence[lang='fa'] {
	font-size: 18px;
}

.fs4 .example .origin[lang='ar'], .fs4 .example .origin[lang='fa'], .fs4
.example .translate[lang='ar'], .fs4
.example .translate[lang='fa'], .fs4
.example .sentence[lang='ar'], .fs4
.example .sentence[lang='fa'], .fs4
.ly_wordbook .mean_select .origin[lang='ar'], .fs4
.ly_wordbook .mean_select .origin[lang='fa'], .fs4
.ly_wordbook .mean_select .translate[lang='ar'], .fs4
.ly_wordbook .mean_select .translate[lang='fa'], .fs4
.ly_wordbook .mean_select .sentence[lang='ar'], .fs4
.ly_wordbook .mean_select .sentence[lang='fa'] {
	font-size: 19px;
}

.fs2 .example .origin, .fs2
.example .translate, .fs2
.example .sentence, .fs2
.ly_wordbook .mean_select .origin, .fs2
.ly_wordbook .mean_select .translate, .fs2
.ly_wordbook .mean_select .sentence {
	line-height: 21px;
}

.fs3 .example .origin, .fs3
.example .translate, .fs3
.example .sentence, .fs3
.ly_wordbook .mean_select .origin, .fs3
.ly_wordbook .mean_select .translate, .fs3
.ly_wordbook .mean_select .sentence {
	line-height: 22px;
}

.example .origin[lang^='ja'], .example .origin[lang^='zh'],
.example .translate[lang^='ja'],
.example .translate[lang^='zh'],
.example .sentence[lang^='ja'],
.example .sentence[lang^='zh'],
.ly_wordbook .mean_select .origin[lang^='ja'],
.ly_wordbook .mean_select .origin[lang^='zh'],
.ly_wordbook .mean_select .translate[lang^='ja'],
.ly_wordbook .mean_select .translate[lang^='zh'],
.ly_wordbook .mean_select .sentence[lang^='ja'],
.ly_wordbook .mean_select .sentence[lang^='zh'] {
	line-height: 22px;
}

.fs2 .example .origin[lang^='ja'], .fs2 .example .origin[lang^='zh'], .fs2
.example .translate[lang^='ja'], .fs2
.example .translate[lang^='zh'], .fs2
.example .sentence[lang^='ja'], .fs2
.example .sentence[lang^='zh'], .fs2
.ly_wordbook .mean_select .origin[lang^='ja'], .fs2
.ly_wordbook .mean_select .origin[lang^='zh'], .fs2
.ly_wordbook .mean_select .translate[lang^='ja'], .fs2
.ly_wordbook .mean_select .translate[lang^='zh'], .fs2
.ly_wordbook .mean_select .sentence[lang^='ja'], .fs2
.ly_wordbook .mean_select .sentence[lang^='zh'] {
	line-height: 23px;
}

.fs3 .example .origin[lang^='ja'], .fs3 .example .origin[lang^='zh'], .fs3
.example .translate[lang^='ja'], .fs3
.example .translate[lang^='zh'], .fs3
.example .sentence[lang^='ja'], .fs3
.example .sentence[lang^='zh'], .fs3
.ly_wordbook .mean_select .origin[lang^='ja'], .fs3
.ly_wordbook .mean_select .origin[lang^='zh'], .fs3
.ly_wordbook .mean_select .translate[lang^='ja'], .fs3
.ly_wordbook .mean_select .translate[lang^='zh'], .fs3
.ly_wordbook .mean_select .sentence[lang^='ja'], .fs3
.ly_wordbook .mean_select .sentence[lang^='zh'] {
	line-height: 24px;
}

.example .origin[lang='ar'], .example .origin[lang='fa'],
.example .translate[lang='ar'],
.example .translate[lang='fa'],
.example .sentence[lang='ar'],
.example .sentence[lang='fa'],
.ly_wordbook .mean_select .origin[lang='ar'],
.ly_wordbook .mean_select .origin[lang='fa'],
.ly_wordbook .mean_select .translate[lang='ar'],
.ly_wordbook .mean_select .translate[lang='fa'],
.ly_wordbook .mean_select .sentence[lang='ar'],
.ly_wordbook .mean_select .sentence[lang='fa'] {
	line-height: 25px;
}

.fs2 .example .origin[lang='ar'], .fs2 .example .origin[lang='fa'], .fs2
.example .translate[lang='ar'], .fs2
.example .translate[lang='fa'], .fs2
.example .sentence[lang='ar'], .fs2
.example .sentence[lang='fa'], .fs2
.ly_wordbook .mean_select .origin[lang='ar'], .fs2
.ly_wordbook .mean_select .origin[lang='fa'], .fs2
.ly_wordbook .mean_select .translate[lang='ar'], .fs2
.ly_wordbook .mean_select .translate[lang='fa'], .fs2
.ly_wordbook .mean_select .sentence[lang='ar'], .fs2
.ly_wordbook .mean_select .sentence[lang='fa'] {
	line-height: 26px;
}

.fs3 .example .origin[lang='ar'], .fs3 .example .origin[lang='fa'], .fs3
.example .translate[lang='ar'], .fs3
.example .translate[lang='fa'], .fs3
.example .sentence[lang='ar'], .fs3
.example .sentence[lang='fa'], .fs3
.ly_wordbook .mean_select .origin[lang='ar'], .fs3
.ly_wordbook .mean_select .origin[lang='fa'], .fs3
.ly_wordbook .mean_select .translate[lang='ar'], .fs3
.ly_wordbook .mean_select .translate[lang='fa'], .fs3
.ly_wordbook .mean_select .sentence[lang='ar'], .fs3
.ly_wordbook .mean_select .sentence[lang='fa'] {
	line-height: 27px;
}

.example .origin[lang='my'], .example .origin[lang='km'],
.example .translate[lang='my'],
.example .translate[lang='km'],
.example .sentence[lang='my'],
.example .sentence[lang='km'],
.ly_wordbook .mean_select .origin[lang='my'],
.ly_wordbook .mean_select .origin[lang='km'],
.ly_wordbook .mean_select .translate[lang='my'],
.ly_wordbook .mean_select .translate[lang='km'],
.ly_wordbook .mean_select .sentence[lang='my'],
.ly_wordbook .mean_select .sentence[lang='km'] {
	line-height: 27px;
}

.fs2 .example .origin[lang='my'], .fs2 .example .origin[lang='km'], .fs2
.example .translate[lang='my'], .fs2
.example .translate[lang='km'], .fs2
.example .sentence[lang='my'], .fs2
.example .sentence[lang='km'], .fs2
.ly_wordbook .mean_select .origin[lang='my'], .fs2
.ly_wordbook .mean_select .origin[lang='km'], .fs2
.ly_wordbook .mean_select .translate[lang='my'], .fs2
.ly_wordbook .mean_select .translate[lang='km'], .fs2
.ly_wordbook .mean_select .sentence[lang='my'], .fs2
.ly_wordbook .mean_select .sentence[lang='km'] {
	line-height: 28px;
}

.fs3 .example .origin[lang='my'], .fs3 .example .origin[lang='km'], .fs3
.example .translate[lang='my'], .fs3
.example .translate[lang='km'], .fs3
.example .sentence[lang='my'], .fs3
.example .sentence[lang='km'], .fs3
.ly_wordbook .mean_select .origin[lang='my'], .fs3
.ly_wordbook .mean_select .origin[lang='km'], .fs3
.ly_wordbook .mean_select .translate[lang='my'], .fs3
.ly_wordbook .mean_select .translate[lang='km'], .fs3
.ly_wordbook .mean_select .sentence[lang='my'], .fs3
.ly_wordbook .mean_select .sentence[lang='km'] {
	line-height: 29px;
}

.example .sentence .tit,
.ly_wordbook .mean_select .sentence .tit {
	font-size: 13px;
}

.fs2 .example .sentence .tit, .fs2
.ly_wordbook .mean_select .sentence .tit {
	font-size: 14px;
}

.fs3 .example .sentence .tit, .fs3
.ly_wordbook .mean_select .sentence .tit {
	font-size: 15px;
}

.fs4 .example .sentence .tit, .fs4
.ly_wordbook .mean_select .sentence .tit {
	font-size: 16px;
}

.example .origin + .sentence .tit,
.ly_wordbook .mean_select .origin + .sentence .tit {
	vertical-align: 1px;
}

.example .pinyin .text,
.ly_wordbook .mean_select .pinyin .text {
	font-size: 13px;
	line-height: 22px;
}

.fs2 .example .pinyin .text, .fs2
.ly_wordbook .mean_select .pinyin .text {
	font-size: 14px;
}

.fs3 .example .pinyin .text, .fs3
.ly_wordbook .mean_select .pinyin .text {
	font-size: 15px;
}

.fs4 .example .pinyin .text, .fs4
.ly_wordbook .mean_select .pinyin .text {
	font-size: 16px;
}

.fs2 .example .pinyin .text, .fs2
.ly_wordbook .mean_select .pinyin .text {
	line-height: 23px;
}

.fs3 .example .pinyin .text, .fs3
.ly_wordbook .mean_select .pinyin .text {
	line-height: 24px;
}

.example .related_voca,
.ly_wordbook .mean_select .related_voca {
	font-size: 13px;
	line-height: 20px;
}

.fs2 .example .related_voca, .fs2
.ly_wordbook .mean_select .related_voca {
	font-size: 14px;
}

.fs3 .example .related_voca, .fs3
.ly_wordbook .mean_select .related_voca {
	font-size: 15px;
}

.fs4 .example .related_voca, .fs4
.ly_wordbook .mean_select .related_voca {
	font-size: 16px;
}

.fs2 .example .related_voca, .fs2
.ly_wordbook .mean_select .related_voca {
	line-height: 21px;
}

.fs3 .example .related_voca, .fs3
.ly_wordbook .mean_select .related_voca {
	line-height: 22px;
}

.example .source,
.ly_wordbook .mean_select .source {
	font-size: 12px;
	color: #999;
}

.fs2 .example .source, .fs2
.ly_wordbook .mean_select .source {
	font-size: 13px;
}

.fs3 .example .source, .fs3
.ly_wordbook .mean_select .source {
	font-size: 14px;
}

.fs4 .example .source, .fs4
.ly_wordbook .mean_select .source {
	font-size: 15px;
}

.example sup,
.ly_wordbook .mean_select sup {
	display: inline-block;
	margin-top: -3px;
	vertical-align: top;
}

.component_mean {
	padding: 10px 0 36px 15px;
}

.component_mean .notice {
	position: relative;
	margin-top: 8px;
	padding-left: 20px;
	line-height: 16px;
	font-size: 13px;
	color: #ff5650;
	font-weight: 600;
}

.component_mean .notice:before {
	background-position: -255px -217px;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}

.component_mean .pinyin_generator .label_add_auto {
	margin-top: 0;
}

.component_mean .setting_area {
	position: relative;
	float: right;
	top: 1px;
	z-index: 10000;
}

.component_mean .setting_area .btn_setting {
	height: 25px;
	line-height: 23px;
}

.component_mean .setting_area .setting_link {
	display: none;
}

.component_mean .setting_area .option_wrap {
	top: 28px;
}

.component_mean .setting_area .tooltip {
	top: 32px;
}

.component_mean .btn_area {
	position: relative;
	z-index: 1;
	float: right;
	margin-top: 1px;
}

.component_mean .btn_toggle,
.component_mean .btn_grade {
	display: inline-block;
	position: relative;
	height: 25px;
	padding: 0 6px 1px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	font-size: 12px;
	color: #666;
	white-space: nowrap;
}

.component_mean .btn_toggle:disabled,
.component_mean .btn_grade:disabled {
	border-color: #eaeaea;
	color: #bcbcbc;
	cursor: default;
}

.component_mean .unit_negative {
	display: inline-block;
	cursor: pointer;
}

.component_mean .mean_tray {
	clear: both;
}

.component_mean .mean_tray .part_area {
	margin: 38px 0 -3px;
	font-size: 15px;
}

.fs2 .component_mean .mean_tray .part_area {
	font-size: 16px;
}

.fs3 .component_mean .mean_tray .part_area {
	font-size: 17px;
}

.fs4 .component_mean .mean_tray .part_area {
	font-size: 18px;
}

.component_mean .mean_tray .part_area:first-of-type {
	margin-top: 0px;
	padding-top: 14px;
}

.component_mean .mean_tray .part_area + .text_type {
	margin-top: 12px;
}

.component_mean .mean_tray .part_area .part_speech {
	margin-right: 4px;
	color: #7a96b9;
}

.component_mean .mean_tray .part_area .part_speech_desc {
	color: #888;
}

.component_mean .mean_tray .text_type {
	margin: 38px 0 -2px;
}

.component_mean .mean_tray .text_type .num {
	float: left;
	margin-right: 12px;
	font-size: 15px;
	line-height: 17px;
	color: #7a96b9;
}

.fs2 .component_mean .mean_tray .text_type .num {
	font-size: 16px;
}

.fs3 .component_mean .mean_tray .text_type .num {
	font-size: 17px;
}

.fs4 .component_mean .mean_tray .text_type .num {
	font-size: 18px;
}

.fs2 .component_mean .mean_tray .text_type .num {
	line-height: 18px;
}

.fs3 .component_mean .mean_tray .text_type .num {
	line-height: 19px;
}

.component_mean .mean_tray .text_type .cont {
	overflow: hidden;
	font-size: 13px;
	line-height: 17px;
	color: #888;
}

.fs2 .component_mean .mean_tray .text_type .cont {
	font-size: 14px;
}

.fs3 .component_mean .mean_tray .text_type .cont {
	font-size: 15px;
}

.fs4 .component_mean .mean_tray .text_type .cont {
	font-size: 16px;
}

.fs2 .component_mean .mean_tray .text_type .cont {
	line-height: 18px;
}

.fs3 .component_mean .mean_tray .text_type .cont {
	line-height: 19px;
}

.component_mean .mean_tray .mean_list {
	margin-top: 12px;
}

.component_mean .mean_tray .mean_list .mean_list {
	margin-top: 18px;
}

.component_mean .mean_tray .mean_list.mean_list_last {
	margin-top: -3px;
}

.component_mean .mean_tray .mean_list.mean_list_last .mean_item {
	margin-top: 10px;
	padding-left: 0;
}

.component_mean .mean_tray .mean_list.mean_list_last .mean_item .mean_desc {
	margin-left: 0;
}

.component_mean .mean_tray .mean_list.mean_list_last .example {
	margin-left: 0;
}

.component_mean .mean_tray .mean_item {
	margin-top: 30px;
	padding-left: 21px;
	font-size: 15px;
}

.fs2 .component_mean .mean_tray .mean_item {
	font-size: 16px;
}

.fs3 .component_mean .mean_tray .mean_item {
	font-size: 17px;
}

.fs4 .component_mean .mean_tray .mean_item {
	font-size: 18px;
}

.component_mean .mean_tray .mean_item:first-child {
	margin-top: 0;
}

.component_mean .mean_tray .mean_item .mean_desc {
	display: table;
	margin-left: -21px;
	color: #000;
}

.component_mean .mean_tray .mean_item .mean_desc .unit_tooltip.bilingual {
	margin-top: 3px;
	vertical-align: top;
}

.component_mean .mean_tray .mean_item .mean_desc .unit_tooltip.bilingual + .part_speech,
.component_mean .mean_tray .mean_item .mean_desc .unit_tooltip.bilingual + .part_speech_desc {
	margin-left: 4px;
}

.component_mean .mean_tray .mean_item .mean_desc .unit_tooltip.bilingual .btn_toggle_square {
	margin-left: 0;
}

.component_mean .mean_tray .mean_item .mean_desc a {
	color: #1b47b9;
}

.component_mean .mean_tray .mean_item .mean_desc[lang='ar'] .cont, .component_mean .mean_tray .mean_item .mean_desc[lang='fe'] .cont {
	margin-top: -1px;
}

.component_mean .mean_tray .mean_item .mean_desc .direct {
	color: #25407d;
}

.component_mean .mean_tray .mean_item .mean_desc .direct:hover {
	text-decoration: underline;
}

.component_mean .mean_tray .mean_item .mean_desc .direct sup {
	display: inline-block;
	margin-top: -2px;
	vertical-align: top;
}

.component_mean .mean_tray .mean_item .mean_desc .num {
	display: table-cell;
	min-width: 17px;
	padding-right: 5px;
	line-height: 24px;
}

.fs2 .component_mean .mean_tray .mean_item .mean_desc .num {
	line-height: 25px;
}

.fs3 .component_mean .mean_tray .mean_item .mean_desc .num {
	line-height: 26px;
}

.component_mean .mean_tray .mean_item .mean_desc .cont {
	display: table-cell;
}

.component_mean .mean_tray .mean_item .mean_desc .cont .part_speech {
	margin-right: 1px;
	color: #7a96b9;
	line-height: 24px;
	letter-spacing: 0;
}

.fs2 .component_mean .mean_tray .mean_item .mean_desc .cont .part_speech {
	line-height: 25px;
}

.fs3 .component_mean .mean_tray .mean_item .mean_desc .cont .part_speech {
	line-height: 26px;
}

.component_mean .mean_tray .mean_item .mean_desc .cont .pinyin {
	margin-left: 2px;
	font-size: 13px;
	color: #666;
}

.fs2 .component_mean .mean_tray .mean_item .mean_desc .cont .pinyin {
	font-size: 14px;
}

.fs3 .component_mean .mean_tray .mean_item .mean_desc .cont .pinyin {
	font-size: 15px;
}

.fs4 .component_mean .mean_tray .mean_item .mean_desc .cont .pinyin {
	font-size: 16px;
}

.component_mean .mean_tray .mean_item .mean_desc .cont .default_mean {
	overflow: hidden;
	display: none;
	padding: 4px 7px 2px;
	margin: 2px 4px 0 0;
	line-height: 13px;
	background: #b1b5c0;
	border-radius: 18px;
	font-size: 11px;
	font-family: '돋움', Dotum, sans-serif;
	color: #fff;
	vertical-align: top;
}

.component_mean .mean_tray .mean_item .mean_desc .cont .mean {
	font-size: 16px;
	line-height: 24px;
}

.component_mean .mean_tray .mean_item .mean_desc .cont .mean i {
	font-style: italic;
}

.component_mean .mean_tray .mean_item .mean_desc .cont .mean[lang='ko'] {
	font-size: 15px;
}

.fs2 .component_mean .mean_tray .mean_item .mean_desc .cont .mean[lang='ko'] {
	font-size: 16px;
}

.fs3 .component_mean .mean_tray .mean_item .mean_desc .cont .mean[lang='ko'] {
	font-size: 17px;
}

.fs4 .component_mean .mean_tray .mean_item .mean_desc .cont .mean[lang='ko'] {
	font-size: 18px;
}

.component_mean .mean_tray .mean_item .mean_desc .cont .mean[lang='ko'] {
	line-height: 23px;
}

.fs2 .component_mean .mean_tray .mean_item .mean_desc .cont .mean[lang='ko'] {
	line-height: 24px;
}

.fs3 .component_mean .mean_tray .mean_item .mean_desc .cont .mean[lang='ko'] {
	line-height: 25px;
}

.fs2 .component_mean .mean_tray .mean_item .mean_desc .cont .mean {
	font-size: 17px;
}

.fs3 .component_mean .mean_tray .mean_item .mean_desc .cont .mean {
	font-size: 18px;
}

.fs4 .component_mean .mean_tray .mean_item .mean_desc .cont .mean {
	font-size: 19px;
}

.fs2 .component_mean .mean_tray .mean_item .mean_desc .cont .mean {
	line-height: 25px;
}

.fs3 .component_mean .mean_tray .mean_item .mean_desc .cont .mean {
	line-height: 26px;
}

.component_mean .mean_tray .mean_item .mean_desc .cont .mean highlight {
	font-weight: bold;
}

.component_mean .mean_tray .mean_item .mean_desc .cont .mean_translate {
	margin-top: 2px;
	font-size: 14px;
	line-height: 20px;
}

.fs2 .component_mean .mean_tray .mean_item .mean_desc .cont .mean_translate {
	font-size: 15px;
}

.fs3 .component_mean .mean_tray .mean_item .mean_desc .cont .mean_translate {
	font-size: 16px;
}

.fs4 .component_mean .mean_tray .mean_item .mean_desc .cont .mean_translate {
	font-size: 17px;
}

.fs2 .component_mean .mean_tray .mean_item .mean_desc .cont .mean_translate {
	line-height: 21px;
}

.fs3 .component_mean .mean_tray .mean_item .mean_desc .cont .mean_translate {
	line-height: 22px;
}

.component_mean .mean_tray .mean_item .mean_desc .cont .label_translate {
	margin-right: 2px;
	color: #6881a1;
}

.component_mean .mean_tray .mean_item .mean_desc .cont .text_translate {
	color: #666;
}

.component_mean .mean_tray .mean_item .mean_desc .part_speech_desc {
	color: #999;
}

.component_mean .mean_tray .mean_item .mean_desc .part_speech_desc + .mean_addition:before {
	display: inline-block;
	margin: -3px 6px 0 2px;
	width: 1px;
	height: 14px;
	background: #d8d8d8;
	vertical-align: middle;
	content: '';
}

.component_mean .mean_tray .mean_item .mean_desc .mean_addition {
	line-height: 24px;
	color: #888;
}

.fs2 .component_mean .mean_tray .mean_item .mean_desc .mean_addition {
	line-height: 25px;
}

.fs3 .component_mean .mean_tray .mean_item .mean_desc .mean_addition {
	line-height: 26px;
}

.component_mean .mean_tray .mean_item .mean_desc .label_grade {
	display: inline-block;
	min-width: 19px;
	height: 19px;
	margin-bottom: 4px;
	padding: 0 7px;
	line-height: 19px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	font-size: 13px;
	text-align: center;
	vertical-align: 1px;
	color: #666;
}

.article_opendict .component_mean .mean_tray .mean_item {
	margin-top: 17px;
	padding-top: 25px;
	border-top: 1px solid #f0f0f0;
}

.article_opendict .component_mean .mean_tray .mean_item:first-child {
	margin-top: 0;
	padding-top: 0;
	border-top: 0;
}

.component_mean .explanation {
	margin-top: 2px;
}

.component_mean .explanation .explanation_item {
	margin-top: 2px;
	font-size: 16px;
	line-height: 24px;
	color: #000;
}

.component_mean .explanation .explanation_item[lang='ko'] {
	font-size: 14px;
}

.fs2 .component_mean .explanation .explanation_item[lang='ko'] {
	font-size: 15px;
}

.fs3 .component_mean .explanation .explanation_item[lang='ko'] {
	font-size: 16px;
}

.fs4 .component_mean .explanation .explanation_item[lang='ko'] {
	font-size: 17px;
}

.component_mean .explanation .explanation_item[lang='ko'] {
	line-height: 22px;
}

.fs2 .component_mean .explanation .explanation_item[lang='ko'] {
	line-height: 23px;
}

.fs3 .component_mean .explanation .explanation_item[lang='ko'] {
	line-height: 24px;
}

.fs2 .component_mean .explanation .explanation_item {
	font-size: 17px;
}

.fs3 .component_mean .explanation .explanation_item {
	font-size: 18px;
}

.fs4 .component_mean .explanation .explanation_item {
	font-size: 19px;
}

.fs2 .component_mean .explanation .explanation_item {
	line-height: 25px;
}

.fs3 .component_mean .explanation .explanation_item {
	line-height: 26px;
}

.component_mean .explanation .explanation_item:first-child {
	margin-top: 0;
}

.component_mean .explanation .explanation_item a {
	color: #25407d;
}

.component_mean .component_relation {
	margin-top: 15px;
	padding: 0;
	border: 1px solid #e7e7e7;
}

.component_mean .component_relation .row {
	border-top: 1px solid #e7e7e7;
	padding: 1px 15px 10px;
}

.component_mean .component_relation .row:first-child {
	border: 0;
}

.component_mean .component_relation + .component_relation {
	margin-top: 10px;
}

.component_mean .reference + .component_relation {
	margin-top: 10px;
}

.component_mean .select_cp_grade {
	position: relative;
	display: inline-block;
	margin-right: 2px;
	vertical-align: top;
}

.component_mean .btn_grade {
	position: relative;
	box-sizing: border-box;
	width: 77px;
	height: 25px;
	padding-top: 4px;
	text-align: left;
}

.component_mean .btn_grade:after {
	background-position: -387px -447px;
	width: 12px;
	height: 5px;
	position: absolute;
	right: 7px;
	top: 50%;
	margin-top: -2px;
	content: '';
}

.component_mean .btn_grade.is-opened:after {
	background-position: -403px -447px;
}

.component_mean .cp_grade_list {
	display: none;
	position: absolute;
	top: 24px;
	right: 0;
	left: 0;
	z-index: 1;
	padding: 6px 0 4px;
	background-color: #fff;
	border: 1px solid #bbb;
}

.component_mean .grade_item {
	padding: 4px 8px 5px;
	display: block;
	text-align: left;
	color: #999;
}

.component_mean .grade_item:hover, .component_mean .grade_item[aria-selected='true'] {
	background-color: #f8f8f8;
	color: #03a94d;
}

@font-face {
	font-family: zidian;
	src: url("../webfonts/zidian.woff");
}

@font-face {
	font-family: diezi;
	src: url("../webfonts/diezi.woff");
}

body, input, textarea, select, button, table {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Microsoft Yahei", simsun, "Apple SD Gothic Neo", NanumGothic, Dotum, "새굴림", "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul", sans-serif;
}

body,
[lang^='ko']:not(html) {
	font-family: "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Microsoft Yahei", simsun, NanumGothic, Dotum, "새굴림", sans-serif, 'PingFang SC',  FZSongS_Extended, "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul";
}

.search_area .keyword_search_wrap .keyword_search .keyword {
	font-size: 26px;
}

.main .search_area .keyword_search_wrap .keyword_search .keyword {
	font-size: 26px;
}

.my_keyword_wrap .my_keyword_list li a,
.component_searching_words .searching_words .word_item a,
.write_device dl dd table td,
.component_empty .desc .word,
.autocomplete .word_hanja,
.ly_my_keyword .list_word .word_hanja,
.autocomplete li a .word_wrap,
.ly_my_keyword li a .word_wrap {
	font-family: zidian, diezi, '새굴림', "MingLiU", "MingLiU-ExtB", "맑은 고딕", '돋움', dotum, Arial, NanumGothic, "PingFang SC",-apple-system, BlinkMacSystemFont, "Microsoft Yahei", Arial, sans-serif,FZSongS_Extended, "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul";
}

.keyword_wrap .keyword {
	font-family: zidian, diezi, '새굴림', "MingLiU", "MingLiU-ExtB", "맑은 고딕", '돋움', dotum, Arial, NanumGothic, -apple-system, BlinkMacSystemFont, "Microsoft Yahei", Arial, 'PingFang SC', sans-serif,FZSongS_Extended, "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul";
}

[lang^='zh']:not(html) {
	font-family: '새굴림', "MingLiU", "MingLiU-ExtB", "Malgun Gothic", "맑은 고딕", '돋움', dotum, Arial, NanumGothic, "Apple SD Gothic Neo",-apple-system, BlinkMacSystemFont, "Microsoft Yahei", Arial, sans-serif, FZSongS_Extended, "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul";
	letter-spacing: initial;
}

.entry_title .word[lang='zh'], .entry_title--saying .word[lang='zh'] {
	font-family: '새굴림', "MingLiU", "MingLiU-ExtB", "Malgun Gothic", "맑은 고딕", '돋움', dotum, Arial, NanumGothic, "Apple SD Gothic Neo",-apple-system, BlinkMacSystemFont, "Microsoft Yahei", Arial, sans-serif, FZSongS_Extended, "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul";
}

input, textarea, select, table {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Microsoft Yahei", "Apple SD Gothic Neo","Malgun Gothic", "맑은 고딕", NanumGothic, Dotum, "새굴림", sans-serif,  FZSongS_Extended, "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul";
}

.section .component_keyword .row > .origin .mean {
	margin-top: 5px;
}

.section .component_keyword .row > .origin .link,
.section .component_keyword .row > .origin .text {
	display: inline-block;
	font-size: 26px;
	line-height: 30px;
}

.fs2 .section .component_keyword .row > .origin .link, .fs2
.section .component_keyword .row > .origin .text {
	font-size: 27px;
}

.fs3 .section .component_keyword .row > .origin .link, .fs3
.section .component_keyword .row > .origin .text {
	font-size: 28px;
}

.fs4 .section .component_keyword .row > .origin .link, .fs4
.section .component_keyword .row > .origin .text {
	font-size: 29px;
}

.fs2 .section .component_keyword .row > .origin .link, .fs2
.section .component_keyword .row > .origin .text {
	line-height: 31px;
}

.fs3 .section .component_keyword .row > .origin .link, .fs3
.section .component_keyword .row > .origin .text {
	line-height: 32px;
}

.u_helpdict_module.green_dot .u_headword .u_btn_headword,
.u_helpdict_module .u_definition .u_mean_word .u_hanja_option,
.u_helpdict_zoom_area .u_helpdict_zoom_frame .u_word_zoom,
.u_helpdict_module .u_definition .u_mean_word .u_word_mean {
	font-family: '새굴림', "MingLiU", "MingLiU-ExtB", "Malgun Gothic", "맑은 고딕", '돋움', dotum, Arial, NanumGothic, "Apple SD Gothic Neo",-apple-system, BlinkMacSystemFont, "Microsoft Yahei", Arial, sans-serif, FZSongS_Extended, "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul" !important;
}

#container .se-viewer {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "MingLiU", "MingLiU-ExtB", "새굴림", "PingFang SC", "Microsoft Yahei",  "돋움", dotum, sans-serif, FZSongS_Extended, "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul";
}

#container .se-viewer[lang^='zh'] {
	font-family: "새굴림", "MingLiU", "MingLiU-ExtB",  "Malgun Gothic", "맑은 고딕",'돋움', dotum, Arial,  NanumGothic, "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Microsoft Yahei", Arial,  sans-serif, FZSongS_Extended, "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul";
}

#container .se-viewer[lang^='zh'] span {
	font-family: "새굴림", "MingLiU", "MingLiU-ExtB",  "Malgun Gothic", "맑은 고딕",'돋움', dotum, Arial,  NanumGothic, "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Microsoft Yahei", Arial,  sans-serif, FZSongS_Extended, "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul";
}

/* 한글 타이틀 */
.main .search_area h1.beta a {
	width: 153px;
	height: 35px;
	background: url(../img/ccko/h1_dic_cc_beta.png) no-repeat;
}

.search_area h1.beta a {
	width: 104px;
	height: 23px;
	background: url(../img/ccko/h1_sub_dic_cc_beta.png) no-repeat;
}

.search_area h1 a {
	width: 80px;
	height: 26px;
	background: url(../img/ccko/h1_sub_dic.png) no-repeat;
	/* 메인 타이틀 */
}

.main .search_area h1 a,
.usetip .search_area h1 a {
	width: 125px;
	height: 35px;
	background-image: url(../img/ccko/h1_dic.png);
}

/* 사전 이용팁 */
.use_tips .study_info .img_area {
	background-image: url(../img/ccko/img_study_info.png);
}

.use_tips .pattern .img_area {
	background-image: url(../img/ccko/img_pattern.png);
}

.use_tips .handwriting .img_area {
	background-image: url(../img/ccko/img_cninput.png);
}

.use_tips .sub_dict .img_area {
	background-image: url(../img/ccko/img_mini.png);
}

.use_tips .search_camera .img_area {
	background-image: url(../img/ccko/img_camera.png);
}

.component_entry .unit_add_wordbook {
	padding-bottom: 1px;
}

#content {
	position: relative;
}

.search_inner .link_old_version {
	line-height: 27px;
}

.entry_condition {
	margin-top: -6px;
}

.entry_condition .unit_grade,
.entry_condition .unit_tooltip,
.entry_condition .unit_oxford {
	margin-top: 6px;
}

.section .component_keyword .row .highlight {
	display: inline-block;
	font-weight: inherit;
	line-height: inherit;
}

.component_entry .entry_title + .entry_title {
	padding-right: 0;
}

.component_entry .entry_title:after {
	display: block;
	clear: both;
	content: '';
}

.component_entry .entry_title .addition ~ .cont .mean {
	margin-top: 2px;
}

.component_entry .entry_title .cont {
	overflow: hidden;
}

.component_entry .entry_title .cont .hanja_characters {
	line-height: 19px;
	font-size: 15px;
	color: #777;
	margin-top: 4px;
}

.fs2 .component_entry .entry_title .cont .hanja_characters {
	line-height: 20px;
}

.fs3 .component_entry .entry_title .cont .hanja_characters {
	line-height: 21px;
}

.fs2 .component_entry .entry_title .cont .hanja_characters {
	font-size: 16px;
}

.fs3 .component_entry .entry_title .cont .hanja_characters {
	font-size: 17px;
}

.fs4 .component_entry .entry_title .cont .hanja_characters {
	font-size: 18px;
}

.is-darkmode .component_entry .entry_title .cont .hanja_characters {
	color: #999;
}

.component_entry .entry_title .cont .hanja_characters .label {
	display: inline-block;
	margin: 0 0 0 2px;
	padding: 1px 7px 2px;
	border: solid 1px #e0e0e0;
	vertical-align: top;
	line-height: 14px;
	font-size: 10px;
	font-size: 11px;
	color: #999;
	background-color: #f6f8fa;
}

.fs2 .component_entry .entry_title .cont .hanja_characters .label {
	font-size: 11px;
}

.fs3 .component_entry .entry_title .cont .hanja_characters .label {
	font-size: 12px;
}

.fs4 .component_entry .entry_title .cont .hanja_characters .label {
	font-size: 13px;
}

.component_entry .entry_title .cont .hanja_characters + .mean {
	margin-top: 4px;
}

.component_entry .entry_title .cont .mean {
	font-size: 16px;
	line-height: 21px;
	font-weight: 600;
	margin-top: 24px;
	color: #000;
}

.fs2 .component_entry .entry_title .cont .mean {
	font-size: 17px;
}

.fs3 .component_entry .entry_title .cont .mean {
	font-size: 18px;
}

.fs4 .component_entry .entry_title .cont .mean {
	font-size: 19px;
}

.is-darkmode .component_entry .entry_title .cont .mean {
	color: #fff;
}

.component_entry .entry_title .word {
	font-size: 48px;
	line-height: 50px;
	float: left;
	font-weight: 500;
}

.fs2 .component_entry .entry_title .word {
	font-size: 49px;
}

.fs3 .component_entry .entry_title .word {
	font-size: 50px;
}

.fs4 .component_entry .entry_title .word {
	font-size: 51px;
}

.fs2 .component_entry .entry_title .word {
	line-height: 51px;
}

.fs3 .component_entry .entry_title .word {
	line-height: 52px;
}

.component_entry .entry_title .word.single_word {
	font-size: 72px;
	line-height: 80px;
}

.fs2 .component_entry .entry_title .word.single_word {
	font-size: 73px;
}

.fs3 .component_entry .entry_title .word.single_word {
	font-size: 74px;
}

.fs4 .component_entry .entry_title .word.single_word {
	font-size: 75px;
}

.fs2 .component_entry .entry_title .word.single_word {
	line-height: 81px;
}

.fs3 .component_entry .entry_title .word.single_word {
	line-height: 82px;
}

.component_entry .entry_title .word.single_word ~ .cont {
	display: table-cell;
	height: 76px;
	vertical-align: middle;
}

.component_entry .entry_title .word.single_word ~ .cont .hanja_characters {
	margin-top: 0;
}

.component_entry .entry_title .word.multi_word {
	float: none;
	display: inline;
}

.component_entry .entry_title .word.multi_word ~ .addition {
	vertical-align: top;
	margin-top: 6px;
}

.component_entry .entry_title .word.multi_word ~ .cont {
	float: none;
	margin-top: 8px;
}

.component_entry .entry_title .word.multi_word ~ .cont .mean {
	margin-top: 0;
}

.component_entry .entry_title .word.address_word {
	float: none;
	display: block;
	font-size: 32px;
}

.fs2 .component_entry .entry_title .word.address_word {
	font-size: 33px;
}

.fs3 .component_entry .entry_title .word.address_word {
	font-size: 34px;
}

.fs4 .component_entry .entry_title .word.address_word {
	font-size: 35px;
}

.component_entry .entry_title .word.single_word {
	float: left;
	margin-right: 18px;
}

.component_entry .entry_title .word.single_word + .cont {
	overflow: hidden;
}

.section .component_mean .mean_tray .mean_list .mean_list .mean_list .mean_item {
	margin-top: 12px;
}

.component_mean .mean_tray .mean_item {
	margin-top: 15px;
}

.entry_title + .entry_condition {
	margin-top: 0;
}

.section .component_information {
	padding-bottom: 25px;
}

.section .component_information .hanja_desc .info {
	padding-left: 8px;
	font-size: 14px;
}

.fs2 .section .component_information .hanja_desc .info {
	font-size: 15px;
}

.fs3 .section .component_information .hanja_desc .info {
	font-size: 16px;
}

.fs4 .section .component_information .hanja_desc .info {
	font-size: 17px;
}

.section .component_information .hanja_desc .info:before {
	display: inline-block;
	margin-right: 4px;
	vertical-align: -2px;
	background-position: -295px -188px;
	width: 14px;
	height: 14px;
	content: "";
}

.component_relation .row .tit {
	min-width: 32px;
}

.component_relation .cont .item .mean {
	font-size: 13px;
	color: #444;
	line-height: 25px;
}

.fs2 .component_relation .cont .item .mean {
	font-size: 14px;
}

.fs3 .component_relation .cont .item .mean {
	font-size: 15px;
}

.fs4 .component_relation .cont .item .mean {
	font-size: 16px;
}

.period_group + .period_wrap {
	margin-top: 20px;
}

.component_information .info_group .period_wrap:last-child .word_title ~ .source {
	padding-bottom: 0;
}

.entry_infos .entry_conjugation .tit {
	padding-right: 6px;
}

.entry_infos.is-long {
	overflow: hidden;
	height: 112px;
}

.entry_infos.is-long .btn_more {
	display: block;
}

.entry_infos.is-expanded {
	height: initial;
}

.entry_infos .btn_more {
	display: none;
	position: absolute;
	right: 8px;
	bottom: 25px;
	padding: 0 7px;
	line-height: 30px;
	font-size: 13px;
	color: #3f63bf;
}

.entry_infos .btn_more:before {
	position: absolute;
	top: 0;
	bottom: 0;
	right: calc(100% - 7px);
	width: 15px;
	background-color: #fff;
	color: #000;
	line-height: 1.7;
	content: '...';
}

.entry_infos .btn_more:after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: calc(100% + 8px);
	width: 20px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
	content: '';
}

.entry_infos .btn_more .btn_more_inner {
	display: block;
	background-color: #fff;
}

.example.is-closed .example_item .text {
	display: block;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 44px;
	overflow: hidden;
}

.example.is-expanded .example_item .text {
	display: block;
	max-height: initial;
}

.section_keyword .component_filter .item {
	min-width: 88px;
}

.entry_mean {
	margin: 7px 0 0;
	font-size: 14px;
	line-height: 21px;
}

.fs2 .entry_mean {
	font-size: 15px;
}

.fs3 .entry_mean {
	font-size: 16px;
}

.fs4 .entry_mean {
	font-size: 17px;
}

.fs2 .entry_mean {
	line-height: 22px;
}

.fs3 .entry_mean {
	line-height: 23px;
}

.component_keyword {
	padding-top: 16px;
}

.component_keyword .row .unit_add_wordbook {
	margin-top: 3px;
	margin-left: 6px;
}

.component_keyword .row .origin .mean {
	margin-left: 2px;
}

.fs2 .component_keyword .row .origin .mean {
	margin-top: 5px;
}

.component_keyword .row .origin .origin_link {
	margin-top: 5px;
}

.fs3 .component_keyword .row .origin .mean,
.fs3 .component_keyword .row .origin .origin_link {
	margin-top: 6px;
}

.fs2 .component_keyword .row .hanja_word .mean,
.fs3 .component_keyword .row .hanja_word .mean {
	margin-top: 2px;
}

.component_keyword .row .addtion_desc {
	margin-top: 7px;
}

.component_keyword .mean_list .mean_item .mean .link[lang^='ja'], .component_keyword .mean_list .mean_item .mean .link[lang^='zh'] {
	font-size: 14px;
}

.fs2 .component_keyword .mean_list .mean_item .mean .link[lang^='ja'], .fs2 .component_keyword .mean_list .mean_item .mean .link[lang^='zh'] {
	font-size: 15px;
}

.fs3 .component_keyword .mean_list .mean_item .mean .link[lang^='ja'], .fs3 .component_keyword .mean_list .mean_item .mean .link[lang^='zh'] {
	font-size: 16px;
}

.fs4 .component_keyword .mean_list .mean_item .mean .link[lang^='ja'], .fs4 .component_keyword .mean_list .mean_item .mean .link[lang^='zh'] {
	font-size: 17px;
}

.component_keyword .row .meanlist .mean_item .mean {
	font-size: 14px;
}

.fs2 .component_keyword .row .meanlist .mean_item .mean {
	font-size: 15px;
}

.fs3 .component_keyword .row .meanlist .mean_item .mean {
	font-size: 16px;
}

.fs4 .component_keyword .row .meanlist .mean_item .mean {
	font-size: 17px;
}

.article + .section_reference,
.article + .section_relation {
	border-top: 1px solid #cacccc;
}

.ly_search_detail .tab_menu_list .tab_menu_item {
	position: relative;
	border-right: 0;
}

.ly_search_detail .tab_menu_list .tab_menu_item:last-child:after {
	content: none;
}

.ly_search_detail .tab_menu_list .tab_menu_item:after {
	position: absolute;
	top: 12px;
	right: 0;
	width: 1px;
	height: 15px;
	content: '';
}

.component_filter .result .text {
	margin-top: 8px;
}

.component_filter .result .text .category {
	font-weight: bold;
	font-size: 14px;
}

.fs2 .component_filter .result .text .category {
	font-size: 15px;
}

.fs3 .component_filter .result .text .category {
	font-size: 16px;
}

.fs4 .component_filter .result .text .category {
	font-size: 17px;
}

.component_filter .result .text .amount {
	font-size: 12px;
}

.fs2 .component_filter .result .text .amount {
	font-size: 13px;
}

.fs3 .component_filter .result .text .amount {
	font-size: 14px;
}

.fs4 .component_filter .result .text .amount {
	font-size: 15px;
}

.main .theme_words {
	padding-bottom: 30px;
}

.main .section_title {
	font-size: 15px;
}

.fs2 .main .section_title {
	font-size: 16px;
}

.fs3 .main .section_title {
	font-size: 17px;
}

.fs4 .main .section_title {
	font-size: 18px;
}

.section.section_subject {
	padding-top: 0;
	border: 0;
}

.entry_title .addition {
	margin-top: 2px;
}

.entry_condition + .entry_title {
	padding-right: 0;
}

.write_device .notice {
	letter-spacing: -0.7px;
}

.u_word_dic.u_green_dot_active {
	background-color: #506da5 !important;
}

.component_information .info_group + .info_group {
	border-top: 0;
}

.period_wrap + .period_wrap {
	margin-top: 20px;
	border-top: 1px solid #f0f0f0;
}

.se_wrap .se-viewer .se-text-paragraph {
	white-space: normal;
}

.component_keyword .mean_list .mean_item[lang^='zh'] {
	font-size: 14px;
}

.fs2 .component_keyword .mean_list .mean_item[lang^='zh'] {
	font-size: 15px;
}

.fs3 .component_keyword .mean_list .mean_item[lang^='zh'] {
	font-size: 16px;
}

.fs4 .component_keyword .mean_list .mean_item[lang^='zh'] {
	font-size: 17px;
}

.mark[lang^='zh'],
.addition[lang^='zh'],
.link_entry[lang^='zh'],
[lang^='ko'] + [lang^='zh'],
.related_word[lang='ko'] {
	font-family: 'Helvetica Neue', Arial, 'Apple SD Gothic Neo', sans-serif;
	-webkit-locale: auto;
}

.entry_infos .info_item .desc .info_wrap {
	color: #000;
}

.ly_new_version {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 100001;
}

.ly_new_version .content_area {
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 470px;
	margin: -235px 0 0 -200px;
	border-radius: 8px;
	z-index: 1;
	background-color: #fff;
}

.ly_new_version .title {
	background-color: #0a1e57;
	height: 132px;
	background-image: url(../img/ccko/event-img-head-m.png);
	background-size: 163px 96px;
	background-repeat: no-repeat;
	background-position: center;
}

.ly_new_version .page_container {
	overflow: hidden;
	position: relative;
}

.ly_new_version .ly_footer {
	height: 56px;
	margin-top: 26px;
	background-color: #fafafa;
}

.ly_new_version .page_list {
	position: relative;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	font-size: 0;
}

.ly_new_version .btn_prev,
.ly_new_version .btn_next {
	position: absolute;
	top: 66px;
	left: 25px;
	width: 22px;
	height: 36px;
}

.ly_new_version .btn_next {
	left: auto;
	right: 25px;
	background-image: url(../img/ccko/event-btn-arrow-r.png);
}

.ly_new_version .btn_prev {
	background-image: url(../img/ccko/event-btn-arrow-l.png);
}

.ly_new_version .dimmed {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.4;
}

.ly_new_version .page_list {
	margin-top: 24px;
	white-space: nowrap;
	text-align: center;
}

.ly_new_version .page .img_area {
	width: 200px;
	margin: 0 auto;
}

.ly_new_version .page .text_area {
	width: 243px;
	margin: 12px auto 0;
}

.ly_new_version .link {
	display: block;
	margin: 12px auto 18px;
	width: 173px;
	height: 46px;
	background-image: url(../img/ccko/btn_new_version_m.png);
	background-size: 173px 46px;
	background-repeat: no-repeat;
}

.ly_new_version .page {
	display: inline-block;
	height: 232px;
	vertical-align: top;
}

.ly_new_version .btn_close {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 28px;
	height: 28px;
	color: transparent;
	background-image: url(../img/ccko/btn-close.png);
	background-size: 28px 28px;
}

.ly_new_version .ly_footer .btn_select {
	display: block;
	margin-left: auto;
	border: 0;
	outline: none;
	line-height: 56px;
	color: #434951;
	font-size: 14px;
	letter-spacing: -0.4px;
	text-align: left;
	padding-right: 20px;
	font-weight: bold;
	cursor: pointer;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Microsoft Yahei", simsun, "Apple SD Gothic Neo", NanumGothic, Dotum, "새굴림", sans-serif;
}

.ly_new_version .ly_footer .btn_select:before {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-top: 13px;
	vertical-align: top;
	background-image: url(../img/ccko/btn-check-off.png);
	background-size: 28px 28px;
	content: '';
}

.ly_new_version .ly_footer .btn_select.is-active:before {
	background-image: url(../img/ccko/btn-check-on.png);
}

.ly_new_version .page .img_area img {
	vertical-align: top;
}

.section .component_relation .row .cont .item {
	display: inline;
	line-height: 40px;
	padding: 6px 7px 5px;
}

.section .component_relation .row .cont.ie.cont_long .btn_more {
	bottom: -3px;
	padding: 11px 6px;
}

.component_relation .cont_long .btn_more {
	bottom: 2px;
	padding: 9px 6px;
}

.component_filter + .component_keyword .unit_add_wordbook,
.component_example .row .unit_add_wordbook {
	margin-top: 6px;
}

.search_area h1 a {
	/* 메인 타이틀 */
}

.is-darkmode .search_area h1 a {
	width: 80px;
	height: 26px;
	background: url(../img/ccko/h1_sub_dic_dark.png) no-repeat;
}

.is-darkmode .main .search_area h1 a, .is-darkmode
.usetip .search_area h1 a {
	width: 125px;
	height: 35px;
	background-image: url(../img/ccko/h1_dic_dark.png);
}

.is-darkmode {
	/* 사전 이용팁 */
}

.is-darkmode .use_tips .study_info .img_area {
	background-image: url(../img/ccko/img_study_info_dark.png);
}

.is-darkmode .use_tips .pattern .img_area {
	background-image: url(../img/ccko/img_pattern_dark.png);
}

.is-darkmode .use_tips .handwriting .img_area {
	background-image: url(../img/ccko/img_cninput_dark.png);
}

.is-darkmode .use_tips .sub_dict .img_area {
	background-image: url(../img/ccko/img_mini_dark.png);
}

.is-darkmode .use_tips .search_camera .img_area {
	background-image: url(../img/ccko/img_camera_dark.png);
}

/*# sourceMappingURL=map/cckodict.css.map */
